.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.desktop .todolist-undo-line {
  position: absolute;
  width: 842px;
  height: 40px;
  top: 352px;
  left: 300px;
}

.desktop .overlap-group {
  position: relative;
  width: 840px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.desktop .todolist-contents {
  position: absolute;
  width: 503px;
  height: 20px;
  top: 9px;
  left: 34px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .todolist-chkbutton {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  left: 8px;
}

.desktop .delete-forever {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 7px;
  left: 802px;
}

.desktop .todolist-do-line {
  position: absolute;
  width: 842px;
  height: 40px;
  top: 308px;
  left: 300px;
}

.desktop .text-wrapper {
  position: absolute;
  width: 503px;
  height: 20px;
  top: 9px;
  left: 34px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: line-through;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 389px;
  height: 63px;
  top: 210px;
  left: 300px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .format-list-bulleted {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 257px;
  left: 1099px;
  background-image: url(./img/image.png);
  background-size: 100% 100%;
}

.desktop .group {
  position: relative;
  width: 28px;
  height: 25px;
  top: 6px;
  left: 3px;
  background-image: url(./img/group.png);
  background-size: 100% 100%;
}
